$text-blue: #2c36f2;
$text-white: #f6f7ff;
$text-light-black: #1f1e25;
$text-black: #000000;
$text-gray: #707c87;
$bg-white: #f6f7ff;
$bg-light-gray: #e5e5e5;
$bg-blue: #2c36f2;
$button-blue: #2C36F2;
$button-white: #f6f7ff;
