.page-header {
  width: auto;
  background-color: $bg-light-gray;
}

.page-header__wrapper {
  width: 1170px;
  margin: 0 auto;
  padding-top: 26px;
  padding-bottom: 35px;
  display: flex;
  justify-content: flex-start;
}

.page-header__logo {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  font-family: "Work Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.page-header__text {
  margin: 0;
  margin-left: 10px;
  margin-top: 1px;
  padding-top: 6px;
}

.page-header__logo-text {
  text-transform: uppercase;
}
